.header {
    display: flex;
    align-items: center;
    background-color: #9F7F11;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    top: 0;
    position: fixed;
}

.nav{
  display: flex;
  height: auto;
  width: 65%;
  background-color: #9F7F11;
}

.logo{
  display: flex;
  
} 

.logo img{
  margin-right: 10px;
  height: 70px;
  max-height: 80px;
  width: 70px;
}

.nav-container { 
  display: flex;
  list-style: none;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-left: 0;
}

.nav-container li {
  margin: 0 10px;
  margin-left: 8%;
}
  
.nav-container li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}
  
#inicio_sesion {
  margin-left: 52%;
  min-width: max-content;
}

#inicio {
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  #inicio {
    display: none;
    margin: 0;
  }

  #inicio_sesion {
    margin-left: 4%;
    min-width: none;
  }

  .nav-container li {
    margin-left: 4%;
  }

  .logo {
    margin: 0;
  }

  .logo img{
    height: 70px;
    max-height: 80px;
    width: 70px;
    min-height: 50px;
    min-width: 50px;
  }
  
  .reglas {
    margin-left: 0;
    padding: 0;
  }

  .nav {
    width: 40%;
  }

  .contexto {
    display: none;
  }
}
